{% load static %}
<!DOCTYPE html>
<html lang="zxx">

  <head>
    <meta charset="utf-8">
    <title>blog</title>
  
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
  
    <!-- Main Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  
  </head>

<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="loader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /preloader -->

<header class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'blog:home' %}"><img class="img-fluid" src="{% static 'images/logo.png' %}" alt="parsa"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
        aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse text-center" id="navogation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-uppercase text-dark" href="{% url 'blog:home' %}">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-dark" href="{% url 'blog_app:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-dark" href="{% url 'blog_app:category' %}">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-dark" href="{% url 'blog_app:contact' %}">Contact</a>
          </li>
        </ul>
        <form class="form-inline position-relative ml-lg-4" action="{% url 'blog_app:search' %}" method="post">{% csrf_token %}
          <input class="form-control px-0 w-100" type="search" placeholder="Search" name="search_data" >
          <!-- <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->
          <a href="{% url 'blog_app:search' %}" class="search-icon"><i class=""></i></a>
        </form>
      </div>
    </nav>
  </header>

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>Search Result</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- search result -->
<section class="section">
  <div class="container">
    <div class="row">
       {% if data %}
      {% for i in data %}
      <div class="col-lg-10 mx-auto">
        <ul class="list-unstyled">
          <li class="border-bottom mb-4 pb-3">
            <h4><a href="{% url 'blog_app:post' id=i.id %}" class="text-dark">{{ i.title }}</a></h4>
            <p>DEC 16, 2018</p>
            <p>{{ i.about }}</p>
            <a href="{% url 'blog_app:post' id=i.id %}" class="btn btn-transparent pl-0">Read More</a>
          </li>
        </ul>
      </div>
      {% endfor %}
      {% else %}
      <ul class="list-unstyled">
        <li class="font-secondary text-dark">NO RESULTS FOUND FOR THIS '{{ srch_data }}' KEYWORD</li>
        <li class="font-secondary text-dark">SEARCH WITH EXISTED TITLE NAME</li>
      </ul>
      {% endif %}
    </div>
  </div>
</section>
<!-- /search result -->


<footer class="bg-secondary">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <a href="{% url 'blog:home' %}"><img src="{% static 'images/logo.png' %}" alt="persa" class="img-fluid"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Address</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">Bannerghatta</li>
            <li class="font-secondary text-dark">Bangalore 560076 Karnataka</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Contact Info</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">mob: +91 7049360950</li>
            <li class="font-secondary text-dark"><a href="mailto:surajtiwari4970@gmail.com">Mail: surajtiwari4970@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Follow</h6>
          <ul class="list-inline d-inline-block">
            <li class="list-inline-item mx-3"><a href="https://twitter.com/Beingsuraj10" class="text-dark"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-3"><a href="https://www.linkedin.com/in/suraj-tiwari-411a69174/" class="text-dark"><i class="ti-linkedin"></i></a></li>
            <li class="list-inline-item mx-3"><a href="https://github.com/suraj-git-tech/livepro" class="text-dark"><i class="ti-github"></i></a></li>
         </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pb-3">
    <p class="mb-0">Copyright ©<script>var CurrentYear = new Date().getFullYear()
    document.write(CurrentYear)</script></p>
  </div>
</footer>

<!-- jQuery -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- masonry -->
<script src="{% static 'plugins/masonry/masonry.js' %}"></script>
<!-- instafeed -->
<script src="{% static 'plugins/instafeed/instafeed.min.js' %}"></script>
<!-- smooth scroll -->
<script src="{% static 'plugins/smooth-scroll/smooth-scroll.js' %}"></script>
<!-- headroom -->
<script src="{% static 'plugins/headroom/headroom.js' %}"></script>
<!-- reading time -->
<script src="{% static 'plugins/reading-time/readingTime.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>